#welcome-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient($primary-color2, $secondry-color);
    padding-top: 60px;
    box-sizing: border-box;
    .text-container {
        display: flex;
        align-items: center;
        justify-content: right;
        div {
            padding: 34px 34px 0 34px;
            font-family: $heading-font;
            color: $subheading-font-color;
            h1 {
                font-family: $sub-heading-font;
                color: $primary-font-color;
                font-size: 0.8em;
            }
            h2 {              
                font-size: 2em;
                color: $heading-font-color;

            }
            h3 {
                font-size: 2em;        

            }
            p {
                font-size: 1em;
                padding-bottom: 2em;
            }

            .data-container {
                padding: 5em 0 0 0;
            }
        }
    
    }    
    .img-container {
        display: flex;
        height: 100%;
        background-image: url(../Images/cover7.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 70% auto;
    }

    @media (min-width: 490px) {
        
        .img-container{
            background-size: auto auto;
        }
    }
    @media (max-height: 770px) and (max-width: 770px){

        height: 800px;
    }
    @media (max-height: 770px) and (min-width : 770px){
        .img-container {
            background-size: auto 28vw;
        }
    }
     @media (min-width: 770px) {
        padding: 5vw 13vw 0 13vw;

        & {
            flex-direction: row;
            padding-top: 0;
        }
        .img-container {
            background-image: url(../Images/cover5.png);
            background-position: right bottom;
            background-size: auto 38vw;
            // height: 100vh;
            width: 50vw;
        }
        .text-container {
            width: 50vw;
            height: 100vh;
            div {
                max-width: 800px;
                h1 {
                    font-size: 1em;
                }
                h2 {              
                    font-size: 2em;
                }
                h3 {
                    font-size: 2em; 
                white-space: nowrap;

                }
                p {
                    font-size: 0.8em;
                }
            }
        }
     }
     @media (min-width: 1050px){
        .text-container {
            div {
                
                h1 {
                    font-size: 1.2em;
                }
                h2 {              
                    font-size: 3.2em;
                }
                h3 {
                    font-size: 3.2em;          
                }
                p {
                    font-size: 1em;
                }
            }
        }
     }
     @media (min-width: 1250px){
        .text-container {
            div {
                h1 {
                    font-size: 1.5em;
                }
                h2 {              
                    font-size: 3.5em;
                }
                h3 {
                    font-size: 3.5em;          
                }
                p {
                    font-size: 1.2em;
                }
            }
        }
     }
}